::placeholder {
    color: var(--color-neutral-30);
    opacity: 1; /* Firefox */
}

.form {
    &__fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--r-space-md);
    }
    & label {
        @include h6;
    }   
    & input, textarea {
        @include h6;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid var(--color-neutral-40);
        padding-bottom: var(--r-space-sm);
        margin-top: var(--r-space-sm-2);
        background: transparent;
        transition: padding .3s var(--alias-default-ease), 
                    border .3s var(--alias-default-ease);

        &:focus {
            outline: none;
            padding-left: var(--r-space-xs);
            border-bottom: 1px solid var(--color-neutral-100);
        }
    }
    &-validation {
        &--neutral {
            color: var(--brand-secondary);
        }
        &--error {
            color: red;
        }
        &--success {
            color: green;
        }
    }
}

@media screen and (max-width: 991px){
    .form  {
        &__fieldset {
            margin-bottom: var(--r-space-md-2);
        }
    }
}