.rich-text {
    display: flex;
    flex-direction: column;
    row-gap: var(--r-space-sm);
    
    & h1 {
        margin-bottom: var(--r-space-sm);
    }
    & h2, h3 {
        margin-top: var(--r-space-sm);
    }
    & h4 {
        margin-top: var(--r-space-xs-2);
    }
    & ul, li {
        list-style: inside;
    }
    & img {
        width: 100%;
        margin-top: var(--r-space-xs-2);
    }

    &--dark {
        & a {
            color: var(--brand-primary);
        }
    }
}